extends layout 

block content
  .container
      .nav.nav-pills.nav-fill 
        li.nav-item 
          a(href="workouts").nav-link Workouts
        li.nav-item
        li.nav-item
        li.nav-item 
          a(href="login").nav-link.active Login 
        
        li.nav-item 
          a(href="register").nav.link Register

    