extends layout 

block content
 .container
  .nav.nav-pills.nav-fill 
        li.nav-item 
          a(href="workouts").nav-link Workouts
        li.nav-item
        li.nav-item
        li.nav-item 
          a(href="login").nav-link Login         
        li.nav-item 
          a(href="/").nav-link.active Register

 .pageLayout
    .card
        .form-group.col-lg-12           
         .col-lg-12                        
            table 
                tr 
                  h2 REGISTER
                tr 
                 td First Name
                 td
                  input#exampleInputEmail1.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter First Name')
                tr 
                 td Last Name
                 td
                  input#exampleInputEmail1.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter Last Name')
                tr 
                 td Email
                 td
                  input#exampleInputEmail1.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter Email Address')
                tr 
                 td Password
                 td
                  input#exampleInputEmail1.form-control(type='password', aria-describedby='emailHelp', placeholder='Enter Password')                             
            br
            button.btn.btn-primary(type='submit') Register Account
            br
        a(href="login" style="text-align:center").link Already have an account? Login here
        

          

     
