extends layout

block content
 .container
      .nav.nav-pills.nav-fill 
        li.nav-item 
          a(href="workouts").nav-link.active Workouts
        li.nav-item
        li.nav-item
        li.nav-item 
          a(href="login").nav-link#login Login 
        
        li.nav-item 
          a(href="register").nav.link#register Register

 .card.workoutCard
  .card-body 
    .row
      .col-lg-8
        h5.card-title Back and Biceps 
      .col-lg-4.muscleList
          .badge.badge-secondary Biceps 
          .badge.badge-secondary Brachialis 
          .badge.badge-secondary Traps 
          .badge.badge-secondary Lats
    .row
      .col-lg-4
        .card.exerciseCard
          .row
            .col-lg-12
              p.exerciseComponent Hammer Curls
          .row 
            
              p.exerciseComponent 3
                span.fieldLabel Sets           
              i.fas.fa-times           
              p.exerciseComponent 12
                span.fieldLabel Reps
              p.exerciseComponent 100
                span.fieldLabel KG
              p.exerciseComponent 90
                span.fieldLabel Seconds
      
      .col-lg-4
        .card.exerciseCard
          .row
            .col-lg-12
              p.exerciseComponent Hammer Curls
          .row 
            .col-lg-3
              p.exerciseComponent Sets
            .col-lg-1
                i.fas.fa-times 
            .col-lg-3
              p.exerciseComponent Reps
            .col-lg-3
              p.exerciseComponent 100KG

      .col-lg-4
        .card.exerciseCard
          .row
            .col-lg-12
              p.exerciseComponent Hammer Curls
          .row 
            .col-lg-3
              p.exerciseComponent Sets
            .col-lg-1
                i.fas.fa-times 
            .col-lg-3
              p.exerciseComponent Reps
            .col-lg-3
              p.exerciseComponent 100KG
          
    

  
